# Holistic AI Hackathon 2025 - Environment Variables
# Copy this file to .env and fill in your credentials
# $ cp .env.example .env

AWS_ACCESS_KEY_ID=your_value
AWS_SECRET_ACCESS_KEY=your_value
AWS_SESSION_TOKEN=your_value
